modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Build Project"
author = 43931040
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build-agent.sh build"

[[workflows.workflow]]
name = "Start Dev Server"
author = 43931040
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build-agent.sh serve"
